@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat";
    background: #151515;    
}
.container{
    max-width: 1320px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.header{
    background: #282828;
    padding: 10px 0;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.header__lists{
    display: flex;
    column-gap: 30px;
    list-style: none;
}
.header__link{
    text-decoration: none;
    font-family: "montserrat";
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.header__icon{
    color: #fff;
}
.header__icon:not(:last-child){
    margin-right: 25px;
}
.intro{
    background: url(../img/intro__bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 73px);
    position: relative;
}
.intro__content{ 
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro__title{
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 75px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.intro__btn{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #171718;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
}
.intro__icon{
    margin-left: 10px;
}
.convenience__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.convenience__item:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
}
.convenience__content{
    display: flex;
    flex-direction: column;
    row-gap: 150px; 
}
.convenience__text{
    max-width: 400px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}
.convenience__img{
    width: 500px;
}
.convenience-item__text{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    width: 390px;
}
.convenience-item__text-1::after{
    content: '';
    min-width: 60px;
    height: 1px;
    background: #C4C4C4;
    display: block;
    margin-left: 30px;
}
.convenience-item__text-1{
    margin-right: 30px;
    text-align: right;
}
.convenience-item__text-2{
    margin-left: 30px;
    text-align: left;
}
.convenience-item__text-2::before{
    content: '';
    min-width: 60px;
    height: 1px;
    background: #C4C4C4;
    display: block;     
    margin-right: 30px;
}
.convenience__img-3{
    width: 250px;
}
.about{
    margin-top: 150px;
    margin-bottom: 80px;
}
.about__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__item{
    background: #FFFFFF;
    border-radius: 6px;
    padding: 20px 50px;
    text-align: center;
}
.about__title{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}
.about__text{
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 30px;
}
.about__btn{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 7px 57px;
    background: #151515;
    text-decoration: none;
}
.footer{
    background: #282828;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__lists{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    list-style: none;
}
.footer__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__icon:not(:last-child){
    margin-right: 30px;
}